{% block listhead %}
<li class="list-group-item d-flex justify-content-between lh-condensed">
    <div class="col-md-1 text-center">
        #
    </div>
    <div class="col-md-2 text-center">
        <h6 class="my-0 d-inline-block" >Name</h6>
        <a href="/main/index?sort=name&name={{ name }}&order=ASC&start={{ filter.start }}"><i class="fa fa-arrow-up text-info" aria-hidden="true"></i></a>
        <a href="/main/index?sort=name&name={{ name }}&order=DESC&start={{ filter.start }}"><i class="fa fa-arrow-down text-info" aria-hidden="true"></i></a>
    </div>
    <div class="col-md-3 text-center">
        <h6 class="my-0 d-inline-block">Site</h6>
        <a href="/main/index?sort=site&name={{ name }}&order=ASC&start={{ filter.start }}"><i class="fa fa-arrow-up text-info" aria-hidden="true"></i></a>
        <a href="/main/index?sort=site&name={{ name }}&order=DESC&start={{ filter.start }}"><i class="fa fa-arrow-down text-info" aria-hidden="true"></i></a>
    </div>
    <div class="col-md-3 text-center">
        <h6 class="my-0">Text task</h6>
    </div>
    <div class="col-md-2 text-center">
        <h6 class="my-0 d-inline-block">Status</h6>
        <a href="/main/index?sort=status&name={{ name }}&order=ASC&start={{ filter.start }}"><i class="fa fa-arrow-up text-info" aria-hidden="true"></i></a>
        <a href="/main/index?sort=status&name={{ name }}&order=DESC&start={{ filter.start }}"><i class="fa fa-arrow-down text-info" aria-hidden="true"></i></a>
    </div>
    <div class="col-md-1 text-center">
        <h6 class="my-0"></h6>
    </div>
</li>
{% endblock %}