{% block listhead %}
<li class="list-group-item d-flex justify-content-between lh-condensed">
    <div class="col-md-2 text-center">
        <h6 class="my-0 d-inline-block" >Name</h6>
        <a href="/main/index?sort=name&order=ASC&start={{ url.filter.start }}"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
        <a href="/main/index?sort=name&order=DESC&start={{ url.filter.start }}"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
    </div>
    <div class="col-md-3 text-center">
        <h6 class="my-0 d-inline-block">Email</h6>
        <a href="/main/index?sort=email&order=ASC&start={{ url.filter.start }}"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
        <a href="/main/index?sort=email&order=DESC&start={{ url.filter.start }}"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
    </div>
    <div class="col-md-4 text-center">
        <h6 class="my-0">Text task</h6>
    </div>
    <div class="col-md-2 text-center">
        <h6 class="my-0 d-inline-block">Status</h6>
        <a href="/main/index?sort=status&order=ASC&start={{ url.filter.start }}"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
        <a href="/main/index?sort=status&order=DESC&start={{ url.filter.start }}"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
    </div>
    <div class="col-md-1 text-center">
        <h6 class="my-0"></h6>
    </div>
</li>
{% endblock %}